.thumbnail {
  &-tag-name {
    font-size: 2rem;
    background-color: #eee;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    font-weight: 300;
    width: 100%;
    color: #999;
  }
  &-tag-meta {
    font-weight: bold;
    color: #fff;
    text-align: center;
    background-color: #777777;
  }
}
.row-tag {
  position: relative;
  height: 915px;
  width: 1432px;
}
.thumbnail-mini {
  width: 25%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 8px;
  float: left;
  &-name{
    font-size: 2rem;
    background-color: #eee;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    font-weight: 300;
    color: #999;
    width: 100%;
  }
  &-meta {
    font-weight: bold;
    color: #fff;
    text-align: center;
    background-color: #777777;
  }
}
